.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

h2 {
  color: #FC4A1A;
}

body {
  background-color: #4ABDAC;
  color: #DFDCE3;
/*  font-size: 30px;
*/}

.App-header {
  background-color: #F7B733;
  height: 150px;
  padding: 20px;
  color: white;
}

.rating {
  color: red;
  font-size: 30px;
}

.App-intro {
  font-size: large;
  text-color: red;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
